* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/*=======
Global variables
=========
*/
:root {
  --font-size: 1rem;
  --font-family: Arial, Helvetica, sans-serif;
  --letter-spacing: 1px;
}

html,
body {
  height: 100%;
  background: rgb(174, 158, 247);
  padding-top: 10px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
}

/*=======
form-container
=========
*/
.form-wrapper {
  width: 60%;
  /* height: 100%; */
  background: #f7f5f5;
  border: 2px solid gray;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
  width: 10%;
  border-bottom: solid 5px rgb(238, 231, 231);
  color: rgb(22, 15, 15);
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.form-section {
  padding: 70px 100px;
}

label {
  font-size: var(--font-size);
  font-weight: 600;
}

.input-text,
select {
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-text:focus {
  background: rgb(218, 230, 243);
}

.button {
  background: green;
  width: 20%;
  padding: 10px 10px;
  border-radius: 5px;
}
.button a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: var(--font-size);
}

.button:hover {
  cursor: pointer;
  background: lightgreen;
}

.button-section {
  display: flex;
  justify-content: space-between;
}

.submit {
  background: green;
  width: 100%;
  padding: 10px 14px;
  color: #fff;
  font-size: var(--font-size);
  border-radius: 5px;
  border: none;
}

.submit:hover {
  background: lightgreen;
  cursor: pointer;
}
